.desc{
  font-size: 10px;
  max-height: 100px;
  overflow: hidden;
}

*,h5{
  font-family: "Play", sans-serif;
}
.date-style{
  font-size: 10px;
}

.dashboard-title{
  font-size: 40px;
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: 900;
}
