.login-btn-color{
  background-color: #fed330!important;
  color:#4b6584!important;
}

.register-btn-color{
  color: #fed330!important;
  background-color: #4b6584!important;
}


*, h5 {
  font-family: "Play", sans-serif;
}


.outer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.bg-image{
  background-image: url("https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7883.jpg?t=st=1718734098~exp=1718737698~hmac=6517fa1b5b199c7837ca34062450fcc1bf15c7c17e3b876b3752acab457f3330&w=826");
  background-position: center;
  background-repeat: no-repeat;
}
