<mat-toolbar class="header-bar">
  <button class="main-btn" mat-button routerLink="/playground/landing"><i class="fa-solid fa-graduation-cap"></i>Learning Platform</button>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/user/dashboard/all-courses" routerLinkActive="active">All Courses</button>
  <button mat-button routerLink="/user/dashboard/my-courses" routerLinkActive="active">My Courses</button>
  <button mat-flat-button class="logout-btn-color" (click)="logOut()">Logout</button>
</mat-toolbar>
